<section class="event-card">
    <div class="column">
        <div class="container">
            <h4>Location: {{eventData.location}}</h4>
            <hr>
            <h4>Date: {{format_date eventData.date}}</h4>
            <hr>
            <div class="col s12 m6 l6">
      <h4>Attending</h4>
      <div class="card"> {{#each eventData.playdate_pets as |pet|}}
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{pet.pet_img}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{pet.pet_name}}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{pet.pet_name}}<i class="material-icons right">close</i></span>
      <ul class="collection">
        <li>Age: {{pet.pet_age}}</li>
        <li>Species: {{pet.species}}</li>
        <li>Gender: {{pet.gender}}</li>
        <li>Activity level: {{pet.activity_level}}</li>
        <li>Fixed: {{#if pet.fixed}} yes {{else}} no {{/if}}</li>
        <div class="input-field col s12 m3 l3">
                <a href="/dashboard" class="waves-effect waves-light btn btn-large">back to dashboard</a>
            </div>
      </ul>
    </div>
  </div>
</section>